<div class="homepage">
	<h1>Welcome home</h1>
	<div class="homepage-posts">
		<% if current_user %>
		<% @posts.each do |post| %>
			<div class="Homeposts">
				<hr>
				<h3> <%= post.title %> </h3>
				<h3><a href="/users/<%= post.user.id %>"> <%= post.user.username %> </a> </h3>
				<hr>
				<p><%= post.content%></p>
				<br>
			</div>
		<% end %>
		<% else %>
			<a href="/login"><button>Login</button></a><br>
			<a href="/signup"><button>Sign up</button></a>
		<% end %>
	</div>
</div>
