<div class="wrapper">

	<h3>Create an account.</h3>
	  
	  <form action="/signup" method="post">
		  
		  <input type="text" name="user[email]" placeholder="Email" required autofocus>
		  
		  <input type="text" name="user[username]" placeholder="Username">
		  
		  <input type="password" name= "user[password]" placeholder="Password" required>
		  
		  <p>Password must be more than 5 characters long.</p>
		  
		  <button type="submit">

		  Sign up</button>
		  
		  <label>
		    <input type="checkbox" value="remember-me">
		    Remember me
		  </label>
	  
	  </form>
</div>